<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vente credit</title>
    <meta name="description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <!--link(rel="icon", type="", href="")-->
    <link rel="stylesheet" href="/Style/global.css">
</head>
<body>
    <div class="wrapper">
        <main class="l-main">
            <div class="box-login">
                <div class="grid">
                    <div class="grid__cell 1/3--desk 1/3--lap-and-up">
                        <div class="box-login-txt">
                            <h1 class="box-login-txt-title">bienvenue</h1>
                            <div class="box-login-txt-option">
                                <p class="txt-simple">choisisser un type d'utilisateur</p>
                                <div class="input-bloc">
                                    <input class="input-checkbox" id="js-user" type="radio" name="user" />
                                    <label>Admin</label>
                                </div>
                                <div class="input-bloc">
                                    <input class="input-checkbox" id="js-user" type="radio" name="user" />
                                    <label>Distributeur</label>
                                </div>
                                <div class="input-bloc">
                                    <input class="input-checkbox" id="js-user" type="radio" name="user" />
                                    <label>Coursier</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid__cell 2/3--desk 2/3--lap-and-up">
                        <div class="box-login-form">
                            <h2 class="box-login-form-title"><span class="txt-capitalize">veuiller</span> vous connectez !</h2>
                            <form class="box-login-form-input" action="#" method="post">
                                <input class="input-txt" type="text" placeholder="Login">
                                <input class="input-txt" type="password" placeholder="Mot de passe">
                                <input class="btn-primary-border btn-login" type="submit" value="Se connecter">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="footer">
            <div class="grid">
                <div class="grid__cell"></div>
            </div>
        </div>
        <script src="../../script/jquery.min.js"></script>
        <script src="../../script/slick.min.js"></script>
        <script src="../../script/slider.js"></script>
        <script src="../../script/TweenMax.min.js"></script>
        <script src="../../script/TweenLite.min.js"></script>
        <script src="../../script/menu-hamburger.js"></script>
        <script src="../../script/modal.js"></script>
        <script src="../../script/sticky-user.js"></script>
    </div>
</body>
</html>