extends ../base/layout.pug
include ./mixin

block main
  .box-login
    .grid
      .grid__cell(class="1/3--desk 1/3--lap-and-up")
        .box-login-txt
          h1.box-login-txt-title bienvenue
          .box-login-txt-option
            p.txt-simple choisisser un type d'utilisateur
            +input-bloc-login ({
              name: "admin",
              label: "Admin" 
            })
            +input-bloc-login ({
              name: "distributeur",
              label: "Distributeur" 
            })
            +input-bloc-login ({
              name: "coursier",
              label: "Coursier" 
            })
            
      .grid__cell(class="2/3--desk 2/3--lap-and-up")
        .box-login-form
          h2.box-login-form-title <span class="txt-capitalize">veuiller</span> vous connectez !
          form.box-login-form-input(action="#" method="post") 
            input.input-txt(type="text" placeholder="Login")
            input.input-txt(type="password" placeholder="Mot de passe")
            input.btn-primary-border.btn-login(type="submit" value="Se connecter")
