mixin input-bloc-login(options)
  -label = options.label || "insert your label here";
  -namee = options.name || "#";

  .input-bloc
    input.input-checkbox#js-user(type="radio" name="user")
    label=label