<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vente credit</title>
    <meta name="description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <!--link(rel="icon", type="", href="")-->
    <link rel="stylesheet" href="/Style/global.css">
</head>
<body>
    <div class="wrapper">
        <main class="l-main">
            <div class="menu-background">
                <div class="menu-box">
                    <div class="grid">
                        <div class="grid__cell 3/4">
                            <div class="menu-box-txt">
                                <h1 class="menu-box-txt-info">Bienvenue</h1>
                                <h2 class="menu-box-txt-info">RAZAFINDRAVOHITRA T.Lioka</h2>
                            </div>
                        </div>
                        <div class="grid__cell 1/4">
                            <div class="menu-box-option">
                                <div class="menu-block">
                                    <img class="menu-block-img menu-accueil" src="/image/accueil/icone-profil.png" alt="budget image">
                                    <p class="menu-label txt-capitalize">profil</p>
                                    <p class="menu-label-info">Gestion de votre profil (login, mot de passe et avatar)</p>
                                </div>
                                <div class="menu-block">
                                    <img class="menu-block-img menu-accueil" src="/image/accueil/icone-carte.png" alt="carte image">
                                    <p class="menu-label txt-capitalize">carte</p>
                                    <p class="menu-label-info">C'est la section où l'on gère la vente des cartes de crédits</p>
                                </div>
                                <div class="menu-block">
                                    <img class="menu-block-img menu-accueil" src="/image/accueil/icone-point-de-vente.png" alt="carte image">
                                    <p class="menu-label txt-capitalize">point de vente</p>
                                    <p class="menu-label-info">Suivie des points de ventes (stock actuels, etc, ...)</p>
                                </div>
                                <div class="menu-block">
                                    <img class="menu-block-img menu-accueil" src="/image/accueil/icone-budget.png" alt="budget image">
                                    <p class="menu-label txt-capitalize">budget</p>
                                    <p class="menu-label-info">Ici vous trouverez le budget hebdomadaire, mensuel, etc, ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="footer">
            <div class="grid">
                <div class="grid__cell"></div>
            </div>
        </div>
        <script src="../../script/jquery.min.js"></script>
        <script src="../../script/slick.min.js"></script>
        <script src="../../script/slider.js"></script>
        <script src="../../script/TweenMax.min.js"></script>
        <script src="../../script/TweenLite.min.js"></script>
        <script src="../../script/menu-hamburger.js"></script>
        <script src="../../script/modal.js"></script>
        <script src="../../script/sticky-user.js"></script>
    </div>
</body>
</html>