.input {
  &-txt {
    font-family: $font-template;
    color: $text-color;
    border: none;
    border-bottom: solid $text-color 2px;
    padding: 10px;
    &:focus {
      outline: none;
    }
  }
  &-checkbox {
    background: transparent !important;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}