
$sans-font-family: Arial, sans-serif !default;

$serif-font-family: "Trebuchet MS", "Times New Roman", Times, serif !default;

$font-master: $sans-font-family !default;

$default-font-family: $sans-font-family !default;

$font-template: Segoe UI;




//font-size
$logo-txt: 24px;
$menu-size: 14px;
$search-size: 14px;
$box-title-size: 20px;





